<%- include("partials/adminheader") -%>
<div class="column is-6 is-offset-3">
    <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-3">Edit Product</p>
          </div>
        </div>
        <br>
        <div class="content">
            <form method="POST" action="/product-update" enctype="multipart/form-data">
                <input type="hidden" name="product_id" value="<%= id%>">
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" name="product_name" value="<%= product.name%>" type="string" placeholder="Enter Product Name" required>
                        <span class="icon is-small is-left">
                            <i class="fab fa-amazon"></i>
                        </span>
                    </div>
                </div>
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" name="product_price" value="<%= product.price%>" type="number" placeholder="Enter Product Price" required>
                            <span class="icon is-small is-left">
                                <i class="fa fa-rupee-sign"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Upload Product Image</label>
                        <input type="file" name="product_image"  class="form-control-file" id="exampleFormControlFile1" >
                    </div>
                </div>
                <div class="field">
                    <textarea class="textarea" name="product_description" type="string" placeholder="Enter Product Description" required><%= product.description%></textarea>
                </div>
                <div class="field">
                    <button class="button is-warning">Update Product</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("partials/adminfooter") -%>